body {
  margin: 0;
  padding: 0;
}

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 25px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logoutButton {
  position: absolute;
  top: 50px;
  right: 50px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMessage {
  color: red;
}
